# Ignore Python build artifacts
__pycache__/
*.py[cod]
*.pyd
*.pyo
*.pyz

# Ignore Python virtual environments
.venv/
venv/
env/

# Ignore Jupyter Notebook files
.ipynb_checkpoints/

# Ignore environment file
.env